@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

.Tile {
    position: relative;
}
.Tile .material-icons-outlined {
    position: absolute;
    top: 15px;
    right: 15px;
}

.legend {
    padding-left: 10px;
}
.df-ModeMobile .legend {
    padding-left: 0;
}

.WebHtmlBox .as-label {
    padding: 2px;
}

.Tile_Title, .Tile_Subtitle {
    padding: 0 5px;
}
